@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }

html, body, #root {
  height: 100%;
  background: #0a0a0a;
  overflow-x: hidden; /* <- geen horizontale scroll */
}
